@{          ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WebChat</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p><a href="/Account/Login" class="btn btn-primary btn-lg">Login</a></p>
    </div>
</div>