<nav class="navbar navbar-expand navbar-white navbar-light" style=" display: flex; justify-content: space-between; flex-direction: column; ">
    <div>
        @Html.Partial("_LoginPartial")
    </div>
</nav>
